<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer>
    <mat-toolbar routerLink="" color="primary"
      ><a mat-mini-fab routerLink=".">PoS</a></mat-toolbar
    >
    <mat-list class="sidenav-list">
      <mat-list-item>
        <button
          mat-button
          color="primary"
          color="white"
          style="padding: 10px"
          routerLink=""
          (click)="drawer.close()"
        >
          <mat-icon color="white">home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-button
          color="primary"
          color="white"
          style="padding: 10px"
          routerLink="my-orders"
          (click)="drawer.close()"
        >
          <mat-icon color="white">list_alt</mat-icon>
          My orders
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- Cart sidenav -->
  <mat-sidenav #cart position="end">
    <mat-toolbar routerLink="" color="primary"
      ><a mat-mini-fab routerLink=".">PoS</a>
      <h1 class="sidenav-header">Cart Summary</h1>
    </mat-toolbar>
    <mat-list class="sidenav-cart-list">
      <mat-list-item class="" *ngFor="let i of cartItems">
        <div class="cart-sidenav-item">
          <img class="cart-sidenav-img" src="{{ i.product.imgSrc }}" alt="" />
          <span class="cart-sidenav-name"
            ><span style="font-weight: bold">{{ i.quantity }} x </span
            >{{ i.product.name }}</span
          >
          <p class="cart-sidenav-price">Pret: {{ i.product.price }} RON</p>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="!cartEmpty" class="spacer-column"></mat-list-item>
      <mat-list-item *ngIf="!cartEmpty">
        Total: {{ cartTotal }} RON
      </mat-list-item>
      <mat-list-item *ngIf="!cartEmpty; else emptyCartMsg">
        <button
          class="cart-sidenav-cart-btn"
          [routerLink]="['cart']"
          mat-raised-button
          color="primary"
          style="padding: 10px"
          (click)="cart.close()"
        >
          Checkout <mat-icon>shopping_cart</mat-icon>
        </button>
      </mat-list-item>
      <ng-template #emptyCartMsg>
        <mat-list-item>
          <p>Cart is empty!</p>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="nav-toolbar">
      <button
        mat-button
        style="padding: 10px"
        (click)="drawer.toggle()"
        color="white"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-mini-fab routerLink=".">PoS</a>
      <span class="spacer"></span>
      <button
        mat-button
        color="primary"
        color="white"
        style="padding: 10px"
        (click)="onSearchToggle()"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-button
        color="primary"
        color="white"
        style="padding: 10px"
        (click)="cart.open()"
      >
        <mat-icon
          [matBadgeHidden]="cartEmpty"
          [matBadge]="cartItemsNo"
          matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </button>
    </mat-toolbar>
    <app-search-panel></app-search-panel>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
