.native-container {
  max-width: 1400px;
  margin: auto;
}

.products-container {
  display: grid;
  gap: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}
