/* input.ng-touched.ng-invalid {
  border: 1px solid orangered;
} */

/* .help-msg {
  color: orangered;
  font-style: italic;
} */

.form-container {
  margin: auto;
  --maxwidth: 1400px;
  max-width: var(--maxwidth);
}

.form-group {
  background-size: var(--maxwidth);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--maxwidth) / 3.1), 1fr)
  );
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .form-group > * {
    flex: 0.5;
  }
}
