<div class="native-container">
  <div class="product-picture">
    <img src="{{ product.imgSrc }}" alt="" class="img-fluid" />
  </div>

  <div class="product-details">
    <h1 class="product-details-name">{{ product.name }}</h1>
    <p class="product-details-price">Price: {{ product.price }} RON</p>
    <p class="product-details-descripiton">{{ product.description }}</p>
    <div class="spacer"></div>
    <p class="product-details-sku">SKU: {{ product.sku }}</p>
    <button
      class="add-to-cart-btn"
      mat-raised-button
      color="primary"
      (click)="addToCart(product.sku)"
    >
      Add to cart <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</div>
