<mat-card class="product-card gap-3">
  <img mat-card-image src="{{ product.imgSrc }}" class="product-card-img" />
  <mat-card-title class="">{{ product.name }}</mat-card-title>
  <mat-card-content>
    <span class="align-self-center">Pret: {{ product.price }} RON</span>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="addToCart(product.sku)">
      Add to cart
    </button>
    <button mat-button color="warn">Add to wishlist</button>
  </mat-card-actions>
</mat-card>
