<mat-card class="product-card">
  <div
    [routerLink]="['/product', product.sku]"
    style="cursor: pointer"
    class="product-details"
  >
    <img mat-card-image src="{{ product.imgSrc }}" class="product-card-img" />
    <mat-card-title class="product-name">{{ product.name }}</mat-card-title>
    <mat-card-content>
      <span class="align-self-center">Pret: {{ product.price }} RON</span>
    </mat-card-content>
  </div>
  <mat-card-actions class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="addToCart(product.sku)">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
