.native-container {
  max-width: 1400px;
  margin: auto;
}

.product-card {
  display: flex;
  max-width: 230px;
  min-height: 350px;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.product-details {
  display: flex;
  flex-direction: column;
}
.product-card-img {
  align-self: flex-start;
  max-height: 150px;
  max-width: auto;
  object-fit: contain;
}

.product-name {
  font-size: 1.2rem;
  line-height: 2rem;
}

mat-card-title {
  text-align: center;
}
mat-card-content {
  text-align: center;
}
